<div class="container">
  <h4 class="m-4"><span style="background-color:#eeeeee">商品詳細</span></h4>
   <%= image_tag @items.get_image %>
</div>

    <div class="container">
     <table class="table table-borderless">
      <tbody>
      <tr>
        <td>商品名</td>
        <td><%= @items.name %></td>
      </tr>
      <tr>
        <td>商品説明</td>
        <td><%= @items.introduction %></td>
      </tr>
      <tr>
       <td>ジャンル</td>
        <td><%= @items.genre.name %></td>
      </tr>
      <tr>
        <td>税込価格<br>(税抜価格)</td>
        <td><%= @items.add_tax_price.to_s(:delimited) %> 円
            (<%= @items.price.to_s(:delimited) %> 円)</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <td>
        　<% if @items.is_active == true %>
     　     <span class="text-success font-weight-bold">販売中</span>
    　 　   <% else %>
         　 <span class='text-secondary font-weight-bold'>販売停止中</span>
    　　    <% end %>
        </td>
      </tr>
    </tbody>
    </table>
</div>
</div>
</div> <span></span>

<div class="container">
 <%= link_to '編集する', edit_admin_item_path(@items.id), class: 'btn btn-success  px-4' %>
</div>