<div class="container">
  <div class="row pt-5">
    <div class="col-xl-8 ml-auto">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <%= render "public/shared/error_messages", resource: resource %>     
  <h4>管理者ログイン</h4>
    <tr></tr>
      <table>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" ,:size=>"50" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current_password" ,:size=>"50" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>
