<!--%= fields_for "order_detail[]", OrderDetail.new do |order_detail| %>-->
<p>Find me in app/views/public/orders/confirm.html.erb</p>

<%= form_with model: @order, url: orders_path do |f| %>
  <% shipping_cost_ex = 0 %>
  <% @cart_items.each do |f| %>
  <%= fields_for "order_detail[]", OrderDetail.new do |order_detail| %>
    <table>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.item.name %></td>
          <td><%= f.item.price %></td>
          <td><%= f.amount %></td>
          <td><%= f.item.price * f.amount %></td>
          <% shipping_cost_ex += f.item.price * f.amount %>
          <%= order_detail.hidden_field :item_id, value: f.item_id %>
          <%= order_detail.hidden_field :amount, value: f.amount %>
        </tr>
      </tbody>
    </table>

  <table>
    <tr>
      <th>送料</th>
      <th><%= @order.shipping_cost %></th>
    </tr>
    <tr>
      <th>商品合計</th>
      <th><%= shipping_cost_ex %></th>
    </tr>
    <% total_payment = @order.shipping_cost + shipping_cost_ex %>
    <tr>
      <th>請求金額</th>
      <th><%= total_payment %></th>
    </tr>
  </table>

  <%= order_detail.hidden_field :price, value: f.item.price %>
  <%= order_detail.hidden_field :making_status, value: :製作待ち %>
  <% end %>
    <% end %>

  <b>支払い方法</b>
  <p><%= Order.payment_methods_i18n[@order.payment_method] %></p>

  <b>お届け先</b>
  <!--%= params[:order][:address] %>-->
  <p><%= @customer.last_name + @customer.first_name %></p>
<% total_payment = @order.shipping_cost + shipping_cost_ex %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :name, value: current_customer.last_name %>
  <%= f.hidden_field :address, value: current_customer.address %>
  <%= f.hidden_field :postal_code, value: current_customer.postal_code %>
  <%= f.hidden_field :payment_method, value: @order.payment_method.to_i %>
  <%= f.hidden_field :total_payment, value: total_payment %>
  <%= f.hidden_field :shipping_cost, value: @order.shipping_cost = 800 %>
  <%= f.hidden_field :status, value: 0 %>
  <%= f.submit '注文を確定する'  %>
  <% end %>
