<p>Find me in app/views/public/orders/confirm.html.erb</p>
<div class="container">
  <h5 class='ml-5'>注文情報確認</h5>
</div>
<!--商品名/単価/数量/小計テーブル-->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |f| %>
            <tr>
              <td><%= f.item.name %></td>
              <td><%= number_to_currency(f.item.price, delimiter: ',', unit:'', precision: 0) %></td>
              <td><%= f.amount %></td>
              <td><%= number_to_currency(f.item.price * f.amount, delimiter: ',', unit:'', precision: 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <!--送料/商品合計/請求金額テーブル-->
    <div class="col-md-3">
      <table class="table table-bordered">
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><%= number_to_currency(@cart_items.sum(&:total_price), delimiter: ',', unit:'', precision: 0) %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%=  number_to_currency(@order.total_payment, delimiter: ',', unit:'', precision: 0) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <p><strong>支払方法:</strong> <%= @order.payment_method_i18n %></p>
  </div>
  <div>
    <p><strong>お届け先</strong></p>
    <p><%= @order.name %></p>
    <p>〒<%= @order.postal_code %> <%= @order.address %></p>
  </div>
</div>