<div class="container mt-3">
  <%= form_with model: @order, url: orders_confirm_path, method: :get do |f|  %>
    <h3>注文情報入力</h3>
    <div>
      <%= f.radio_button :pay_method, 0, checked: true %>
      <%= f.label :pay_method, "クレジットカード" %>
    </div>
    <div>
      <%= f.radio_button :pay_method, 1 %>
      <%= f.label :pay_method, "銀行振込" %>
    </div>


    <h3>お届け先</h3>
    <!--, Address.where(customer_id: current_customer.id).pluck(:id).first-->
    <div>
      <%= f.radio_button :address, current_customer.address, checked: true %>
      <%= f.label :address, "ご自身の住所" %>
    </div>
    <div>
      〒<%= current_customer.postal_code + "　" + current_customer.address %>
      <%= current_customer.last_name + current_customer.first_name %>
    </div>
    <div>
      <%= f.radio_button :address, current_customer.address %>
      <%= f.label :address, "登録済住所から選択" %>
    </div>
    <div>
      <%= f.radio_button :address, current_customer.address %>
      <%= f.label :address, "新しいお届け先" %>
      <div>
        <p>郵便番号(ハイフンなし）</p>
        <div class="row">
          <div class="col-md-2">
            <%= f.text_field :new_postal_code, placeholder: "例: 1234567", class: "form-control col-md-2" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
        <p>住所</p>
        <%= f.text_field :new_address, placeholder: "例: 東京都渋谷区...", class: "form-control col-md-4" %>
        <p>宛名</p>
        <%= f.text_field :new_recipient_name, placeholder: "例: 山田太郎", class: "form-control col-md-2" %>
      </div>
    </div>
    <% end %>
  </div>