<h1>Public::Orders#new, 注文情報入力画面(支払方法・配送先の選択)</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>

<%= form_with model: @order, url: orders_confirm_path, method: :get do |f|  %>
  <h3>注文情報入力</h3>
  <div>
    <%= f.radio_button :pay_method, 0, checked: true %>
    <%= f.label :pay_method, "クレジットカード" %>
  </div>
  <div>
    <%= f.radio_button :pay_method, 1 %>
    <%= f.label :pay_method, "銀行振込" %>
  </div>


  <h3>お届け先</h3>
  <div>
    <%= f.radio_button :address, current_customer.address, checked: true %>
    <%= f.label :address, "ご自身の住所" %>
  </div>
  <div>〒<%= current_customer.postal_code + "　" + current_customer.address %></div>
  <div><%= current_customer.last_name + current_customer.first_name %></div>
  <div>
    <%= f.radio_button :address, [:registered_address] %>
    <%= f.label :address, "登録済住所から選択" %>
  </div>
  <div><%= f.collection_select :address, @addresses, :id, :address %></div>

  <div>
    <%= f.radio_button :address, "new_address" %>
    <%= f.label :address, "新しいお届け先" %>
  </div>
  <div>
    <p>郵便番号(ハイフンなし)</p>
    <%= f.text_field :new_postal_code %>
  </div>
  <div>
    <p>住所</p>
    <%= f.text_field :new_address %>
  </div>
  <div>
    <p>宛名</p>
    <%= f.text_field :new_name %>
  </div>

  <%= f.submit "確認画面へ進む" %>
<% end %>