<div class="container">
  <div class="row pt-5">
    <div class="col-xl-8 ml-auto">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <%= render "public/shared/error_messages", resource: resource %>
  <h4><span style="background-color:#eeeeee">ログイン</span></h4>
  <br>
  <p>会員の方はこちらからログイン</p>
    <tr></tr>
      <table>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" ,:size=>"50" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current_password" ,:size=>"50" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </table>
    <% end %>

   <br>
   <h4 class="text-left"><span style="background-color:#eeeeee">会員登録がお済みでない⽅</span></h4>
   <br>
   <%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。
   <p></p>
    </div>
  </div>
</div>

