<div class='container'>
  <div class='row'>
    <%= render 'public/items/sidebar', genres: @genres %>
    <div class='col-md-3'>
      <%= image_tag url_for(@item.image.variant(resize_to_limit: [100, 100])) %>
    </div>
    <div class='col-md-6'>
      <p><strong><%= @item.name %></strong></p>
      <p><%= @item.introduction %></p>
      <p><%= @item.price %>円(税込)</p>
      <p>＃個数選択フォーム＃</p>
      <p>＃カートに入れるボタン＃</p>
    </div>
  </div>
</div>