<header>
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class='container', style="background-color: #f1f0e5;">

    	 <%= link_to "NaganoCAKE", public_homes_top_path, class:"header-title navbar-brand"%>

      <ul class="navbar-nav">
       <% if customer_signed_in? %>
      <!--カスタマーがログインしている時 -->
        <li style="">
          ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！
        </li>
        <li class="nav-item">
         <%= link_to "マイページ", customer_path(current_customer),class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "商品一覧", public_items_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "カート", public_cart_items_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_customer_session_path, class: 'btn btn-outline-secondary mx-3 my-1', method: :delete %>
        </li>

        <% elsif admin_signed_in? %>
       <!-- 管理者がログインしている時 -->
        <li class="nav-item">
         <%= link_to "商品一覧", admin_items_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "会員一覧", root_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "注文履歴一覧", root_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "ジャンル一覧", admin_genres_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, class: 'btn btn-outline-secondary mx-3 my-1', method: :delete %>
        </li>

        <% else %>

      <!-- ログインしていない時 -->
        <li class="nav-item">
         <%= link_to "about", home_about_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "商品一覧", public_items_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
        <li class="nav-item">
         <%= link_to "新規登録", new_customer_registration_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>
         <li class="nav-item"><%= link_to "ログイン", new_customer_session_path,class: 'btn btn-outline-secondary mx-3 my-1' %>
        </li>

      <% end %>
      </ul>
    	</div>
    </div>
  </div>
  </nav>
</header>